<!DOCTYPE html>
<html>
<head>
    <title>History</title>
</head>

<body style="text-align:center; font-family:Arial;">

    <h1>📜 Prediction History</h1>

    <table border="1" style="margin:auto; padding:10px;">
        <tr>
            <th>Message</th>
            <th>Result</th>
            <th>Confidence</th>
        </tr>

        {% for item in records %}
        <tr>
            <td>{{ item.message }}</td>
            <td>{{ item.result }}</td>
            <td>{{ item.confidence }}%</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="/">⬅ Back</a>

</body>
</html>